.ash-center-img {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    width: 90%;
    justify-content: center;
    align-items: center;
}

/* pd-top-120 pd-bottom-90 */
.ash-testimonial-area {
    padding: 40px 80px 80px 40px;
}